@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");
@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

body {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}

#postman-message {
    display: none;
}

#loading-label {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    flex: 1;
    min-width: 20px;
}

.cell>.highcharts-dashboards-component {
    position: relative;
    margin: 10px;
    background-clip: border-box;
}

.highcharts-dashboards-component-title {
    padding: 10px;
    margin: 0;
    background-color: var(--highcharts-neutral-color-5);
    color: var(--highcharts-neutral-color-100);
    border: solid 1px var(--highcharts-neutral-color-20);
    border-bottom: none;
}

@media screen and (max-width: 1000px) {
    .row {
        flex-direction: column;
    }
}

.filters-row {
    flex-direction: row;
    justify-content: space-evenly;
}

#dashboard-col-1 {
    height: 500px;
}

.filters-row>button {
    background: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
    transition: background 250ms;
}

.filters-row>button:hover {
    background: #e6e6e6;
}


.highcharts-datagrid-column {
    width: 200px;
}

.highcharts-datagrid-row td {
    text-align: center;
    vertical-align: middle;
}