@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");
@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

body {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}

#postman-message {
    display: none;
}

#loading-label {
    display: none;
}

.dashboard {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    flex: 1;
    min-width: 20px;
}

.cell > .highcharts-dashboards-component {
    position: relative;
    margin: 10px;
    background-clip: border-box;
}

.highcharts-dashboards-component-title {
    padding: 10px;
    margin: 0;
    background-color: var(--highcharts-neutral-color-5);
    color: var(--highcharts-neutral-color-100);
    border: solid 1px var(--highcharts-neutral-color-20);
    border-bottom: none;
}

#dashboard-col-0, #dashboard-col-6, #dashboard-col-7 {
    height: 370px;
}

#dashboard-col-0 tbody {
    overflow-y: hidden;
}

@media screen and (max-width: 1000px) {
    .row {
        flex-direction: column;
    }
}
