name: Tests

on:
  pull_request:
    branches:
      - 'main'
  schedule:
    - cron: '0 4 * * *' # 4am

jobs:

  test_distribution:
    name: Test distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build distribution bundle
        run: npm run build

  test_eslint:
    name: Test eslint style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build webpack bundles
        run: npm run webpack

      - name: Test eslint style
        run: npx eslint .

  test_unit-tests:
    name: Test unit-tests
    runs-on: ubuntu-latest
    env:
      MORNINGSTAR_PASSWORD: ${{ secrets.MORNINGSTAR_PWD }}
      MORNINGSTAR_USERNAME: ${{ secrets.MORNINGSTAR_USERNAME }}
      DWS_MORNINGSTAR_PASSWORD: ${{ secrets.DWS_MORNINGSTAR_PASSWORD }}
      DWS_MORNINGSTAR_USERNAME: ${{ secrets.DWS_MORNINGSTAR_USERNAME }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build webpack bundles
        run: npm run webpack

      - name: Run tests
        run: npm run test:tests
